@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
body {
  overflow-x: hidden;
  font-size: 64px;
  /* background-image: url("DSCF1982_3_4_5_6-copy-2-14f37521d6b90eddfb8a6d576de4c3c6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 75%;*/
  font-family: "Josefin Sans";
  padding: 0;
  margin: 0;
}
#center {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px; /* Adjust the width as needed */
  height: 1000vh; /* Makes it as tall as the viewport */
  background-color: black; /* Change color if needed */
  z-index: 1; /* E*/
}
nav {
  width: 99%;
  height: 50%;
}
nav img {
  display: block;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  width: 45%;
  margin: -4% 53%;
  text-align: center;
}

nav li {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: 0.45em;
  margin-right: 15%;
}

#why {
  margin-left: 20%;
}

#git {
  width: 20% !important;
  background-color: #72b944;
  border-radius: 999px;
}

.navlink a:link {
  color: black;
  text-decoration: none;
}

.navlink a:visited {
  color: black;
  text-decoration: none;
}
#how-to {
  display: none;
}

#mySidenav {
  display: none;
}

main {
  background-color: rgba(0, 0, 0, 1);
  margin: 5% 0%;
  width: 99.9%;
  height: 600px;
  border: 2px solid transparent;
}
#main_img {
  width: 99.99%;
  height: 600px;
  opacity: 0.6;
  position: absolute;
}
.content {
  position: relative;
}
main h1 {
  color: #ffffff;
  font-size: 0.7em;
  width: 65%;
  text-align: center;
  margin: 6% auto;
}
main form {
  text-align: center;
  margin: 0 auto;
}
input {
  /* Set your intended border color here*/
  border: 1px solid transparent;
}
#link {
  width: 48%;
  height: 35px;
  border-radius: 9999px;
}
#submit {
  width: 10%;
  height: 35px;
  background-color: #72b944;
  border-radius: 999px;
  font-family: "Josefin Sans";
  font-size: 0.5em;
}
#how-to {
  color: black;
  margin-top: 5%;
  text-align: center;
  display: block;
}
#how-to h1 {
  font-size: 0.7em;
}
#how-to p {
  font-size: 0.5em;
  width: 50%;
  margin: 0 auto;
}
#how-to h2 {
  margin-top: 5%;
  font-size: 0.7em;
}
#how-to ul {
  list-style: none;
  text-align: left;
  width: 56%;
  margin: 0 auto;
}
#how-to li {
  font-size: 0.5em;
  margin-bottom: 5%;
}
#example {
  color: black;
  margin-top: 5%;
  font-size: 0.7em;
  text-align: center;
}

#example_sheet {
  text-align: center;
  list-style: none;
  margin-top: 5%;
}

#example_sheet li {
  border: 2px black solid;
  width: 20%;
  display: inline-block;
  font-size: 0.4em;
  margin-right: 5%;
  box-shadow: 5px 5px 5px;
}
#example_sheet img {
  height: 450px; /* Set the desired height */
  width: 100%; /* Keeps aspect ratio */
  object-fit: cover;
}
.example_link {
  text-decoration: none;
}
.example_link h3 {
  margin-left: 25%;
  width: 50%;
  height: 50%;
  text-align: center;
  padding-top: 2%;
  color: black;
  font-size: 0.8em;
  background-color: #72b944;
  border-radius: 99px;
}
.example_link:visited {
  background-color: #72b944;
  font-family: "Josefin Sans";
  text-decoration: none;
}

#loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #72b944; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#downloadBtn {
  margin: 0 43%;
  width: 15%;
  text-align: center;
  color: black;
  font-size: 0.5em;
  background-color: #72b944;
  border-radius: 999px;
}
#ip {
  display: none;
}

@media screen and (max-width: 2560px) {
  nav img {
    display: block;
    margin: 1% auto;
  }
  nav li {
    width: 20%;
    display: inline-block;
    text-align: center;
    font-size: 0.55em;
    margin-right: 15%;
  }
  #downloadBtn {
    width: 20%;
    height: 35px;
    margin-left: 39%;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.5em;
    border: 2px #72b944 solid;
  }
}

@media screen and (max-width: 1950px) {
  nav img {
    display: block;
    margin: 0 auto;
  }
  nav li {
    width: 20%;
    display: inline-block;
    text-align: center;
    font-size: 0.45em;
    margin-right: 15%;
  }
  #houston {
    height: 310px;
  }
  #new_york {
    height: 310px;
  }
  #downloadBtn {
    width: 30%;
    height: 35px;
    margin-left: 33%;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.5em;
    border: 2px #72b944 solid;
  }
}

@media screen and (max-width: 1440px) {
  nav img {
    display: block;
    width: 25%;
    margin: 0 auto;
  }
  nav ul {
    list-style: none;
    width: 45%;
    margin: -4.5% 53%;
    text-align: center;
  }
  #how-to p {
    font-size: 0.5em;
    width: 60%;
    margin: 0 auto;
  }
  #how-to ul {
    list-style: none;
    text-align: left;
    width: 73%;
    margin: 0 auto;
  }
  #how-to li {
    font-size: 0.5em;
    margin-bottom: 5%;
  }
  #example_sheet img {
    height: 350px; /* Set the desired height */
    width: 100%; /* Keeps aspect ratio */
    object-fit: cover;
  }

  #downloadBtn {
    width: 30%;
    height: 35px;
    margin-left: 34%;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.5em;
    border: 2px #72b944 solid;
  }
}
@media screen and (max-width: 1024px) {
  nav img {
    display: block;
    width: 30%;
    margin: 10px auto;
  }
  nav ul {
    list-style: none;
    width: 45%;
    margin: -7% 53%;
    text-align: center;
  }
  nav li {
    width: 22%;
    font-size: 0.4em;
  }
  main {
    margin-top: 7%;
    width: 101%;
  }
  #main_img {
    width: 101%;
  }
  #submit {
    width: 15%;
    height: 35px;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.4em;
  }
  #how-to p {
    font-size: 0.5em;
    width: 60%;
    margin: 0 auto;
  }
  #how-to ul {
    list-style: none;
    text-align: left;
    width: 73%;
    margin: 0 auto;
  }
  #how-to li {
    font-size: 0.39em;
    margin-bottom: 5%;
  }
  #example_sheet img {
    height: 250px; /* Set the desired height */
    width: 100%; /* Keeps aspect ratio */
    object-fit: cover;
  }
  #downloadBtn {
    width: 30%;
    height: 35px;
    margin-left: 32.5%;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.5em;
    border: 2px #72b944 solid;
  }
}

@media screen and (max-width: 770px) {
  nav {
    width: 99%;
    height: 50%;
  }
  nav img {
    display: block;
    margin: 1% auto;
  }
  nav ul {
    list-style: none;
    width: 45%;
    margin: -9% 53%;
    text-align: center;
  }

  nav li {
    width: 29%;
    display: inline-block;
    text-align: center;
    font-size: 0.35em;
    margin-right: 10%;
  }

  #why {
    margin-left: 15%;
  }

  #git {
    width: 30% !important;
    background-color: #72b944;
    border-radius: 999px;
  }

  main {
    background-color: rgba(0, 0, 0, 1);
    margin: 10% 0%;
    width: 105%;
    height: 450px;
    border: 2px solid transparent;
  }
  #main_img {
    width: 105%;
    height: 450px;
    opacity: 0.6;
    position: absolute;
  }
  main h1 {
    color: #ffffff;
    font-size: 0.55em;
    width: 65%;
    text-align: center;
    margin: 6% auto;
  }
  #submit {
    width: 15%;
    height: 35px;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.4em;
  }
  #how-to {
    color: black;
    margin-top: 5%;
    text-align: center;
    display: block;
  }
  #how-to p {
    font-size: 0.4em;
    width: 70%;
    margin: 0 auto;
  }
  #how-to h2 {
    margin-top: 5%;
    font-size: 0.6em;
  }
  #how-to ul {
    list-style: none;
    text-align: left;
    width: 95%;
    margin: 0 auto;
  }
  #how-to li {
    font-size: 0.35em;
    margin-bottom: 5%;
  }
  #example {
    color: black;
    margin-top: 5%;
    font-size: 0.6em;
    text-align: center;
  }

  #example_sheet li {
    border: 2px black solid;
    width: 25%;
    display: inline-block;
    font-size: 0.4em;
    margin-right: 5%;
    box-shadow: 5px 5px 5px;
  }
  #example_sheet img {
    height: 200px; /* Set the desired height */
    width: 100%; /* Keeps aspect ratio */
    object-fit: cover;
  }
  #downloadBtn {
    width: 30%;
    height: 35px;
    margin-left: 31%;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.4em;
    border: 2px #72b944 solid;
  }
}

@media screen and (max-width: 430px) {
  nav img {
    display: block;
    width: 50%;
    height: auto;
    margin: 1% auto;
  }
  nav ul {
    list-style: none;
    width: 45%;
    margin: -14.5% 53%;
    text-align: center;
  }

  nav li {
    width: 40%;
    display: inline-block;
    text-align: center;
    font-size: 0.25em;
    margin-right: 5%;
  }

  #why {
    margin-left: 9%;
  }
  #openbtn {
    margin: -40px 1px;
    width: 15%;
    font-size: 0.65em;
    text-align: center;
  }
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #72b944;
    overflow-x: hidden; /* Disable horizotal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidebar a {
    text-decoration: none;
    font-size: 24px;
    text-align: left;
    color: #f6ffff;
    display: block;
    transition: 0.3s;
    width: 70%;
  }

  .navbar {
    margin-bottom: 70%;
    margin-left: 10%;
  }
  #side-how {
    margin-top: 10%;
  }

  .sidebar button {
    border: none;
    background-color: transparent;
    padding-bottom: 50px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 1em;
    text-align: left;
    color: #f6ffff;
    display: block;
    transition: 0.3s;
    width: 85%;
    height: 10px;
    margin-top: -100px;
    margin-bottom: 125px;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    width: 10px;
    height: 0px;
    display: block;
  }

  main {
    background-color: rgba(0, 0, 0, 1);
    margin: 16% 0%;
    width: 100%;
    height: 250px;
    border: 2px solid transparent;
  }
  #main_img {
    width: 100%;
    height: 250px;
    opacity: 0.6;
    position: absolute;
  }
  main h1 {
    color: #ffffff;
    font-size: 0.35em;
    width: 65%;
    text-align: center;
    margin: 6% auto;
  }
  #link {
    height: 25px;
  }
  #submit {
    width: 25%;
    height: 25px;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.4em;
  }

  #how-to {
    color: black;
    margin-top: 5%;
    text-align: center;
    display: block;
    width: 100%;
  }
  #how-to h1 {
    font-size: 0.35em;
    margin: 0 auto;
  }
  #how-to p {
    font-size: 0.25em;
    width: 70%;
    margin: 0 auto;
  }
  #how-to h2 {
    margin-top: 5%;
    font-size: 0.35em;
  }
  #how-to ul {
    list-style: none;
    text-align: left;
    width: 95%;
    margin: 0 auto;
  }
  #how-to li {
    font-size: 0.21em;
    margin-left: -5%;
    margin-bottom: 5%;
  }
  #example {
    color: black;
    width: 60%;
    margin-left: 17.5%;
    margin-top: 5%;
    font-size: 0.35em;
    text-align: center;
  }
  #example_sheet {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  #example_sheet li {
    border: 2px black solid;
    width: 50%;
    font-size: 0.25em;
    margin-bottom: 10%;
    margin-left: -9.5%;
    box-shadow: 5px 5px 5px;
  }
  #example_sheet img {
    height: 200px; /* Set the desired height */
    width: 100%; /* Keeps aspect ratio */
    object-fit: cover;
  }

  #downloadBtn {
    width: 40%;
    height: 35px;
    margin-left: 28%;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.35em;
    border: 2px #72b944 solid;
  }
}
@media screen and (max-width: 393px) {
  nav img {
    display: block;
    width: 50%;
    height: auto;
    margin: 1% 25%;
  }

  #openbtn {
    margin: -40px 1px;
    width: 15%;
    font-size: 0.65em;
    text-align: center;
  }

  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #72b944;
    overflow-x: hidden; /* Disable horizotal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidebar a {
    text-decoration: none;
    font-size: 24px;
    text-align: left;
    color: #f6ffff;
    display: block;
    transition: 0.3s;
    width: 70%;
  }

  .navbar {
    margin-bottom: 70%;
    margin-left: 10%;
  }
  #side-how {
    margin-top: 10%;
  }

  .sidebar button {
    border: none;
    background-color: transparent;
    padding-bottom: 50px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 1em;
    text-align: left;
    color: #f6ffff;
    display: block;
    transition: 0.3s;
    width: 85%;
    height: 10px;
    margin-top: -100px;
    margin-bottom: 125px;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    width: 10px;
    height: 0px;
    display: block;
  }

  main {
    background-color: rgba(0, 0, 0, 1);
    margin: 16% 0%;
    width: 100%;
    height: 250px;
    border: 2px solid transparent;
  }
  #main_img {
    width: 100%;
    height: 250px;
    opacity: 0.6;
    position: absolute;
  }
  main h1 {
    color: #ffffff;
    font-size: 0.35em;
    width: 70%;
    text-align: center;
    margin: 6% auto;
  }
  #link {
    width: 65%;
    height: 25px;
  }
  #submit {
    width: 25%;
    height: 25px;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.3em;
    color: black;
    padding: 0 auto;
  }

  #how-to {
    color: black;
    margin-top: 5%;
    text-align: center;
    display: block;
    width: 100%;
  }
  #how-to h1 {
    font-size: 0.35em;
    margin: 0 auto;
  }
  #how-to p {
    font-size: 0.25em;
    width: 70%;
    margin: 0 auto;
  }
  #how-to h2 {
    margin-top: 5%;
    font-size: 0.35em;
  }
  #how-to ul {
    list-style: none;
    text-align: left;
    width: 85%;
    margin: 0 1%;
  }
  #how-to li {
    font-size: 0.2em;
    margin-left: -5%;
    margin-bottom: 5%;
  }

  #example {
    color: black;
    width: 60%;
    margin-left: 17%;
    margin-top: 5%;
    font-size: 0.35em;
    text-align: center;
  }

  #example_sheet {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  #example_sheet li {
    border: 2px black solid;
    width: 50%;
    font-size: 0.25em;
    margin-left: -10%;
    box-shadow: 5px 5px 5px;
  }
  #example_sheet img {
    height: 150px; /* Set the desired height */
    width: 100%; /* Keeps aspect ratio */
    object-fit: cover;
  }

  #downloadBtn {
    width: 45%;
    height: 35px;
    margin-left:25%;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.35em;
    border:2px #72b944 solid;
  }
}

@media screen and (max-width: 375px) {
  #example {
    color: black;
    width: 65%;
    margin-left: 14.5%;
    margin-top: 5%;
    font-size: 0.35em;
    text-align: center;
  }

  #example_sheet li {
    border: 2px black solid;
    width: 50%;
    font-size: 0.25em;
    margin-left: -10%;
    box-shadow: 5px 5px 5px;
  }
}

@media screen and (max-width: 320px) {
  main h1 {
    color: #ffffff;
    font-size: 0.35em;
    width: 75%;
    text-align: center;
    margin: 6% auto;
  }
  #submit {
    width: 25%;
    height: 25px;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.3em;
  }

  #example {
    color: black;
    width: 75%;
    margin: 5% 9%;
    font-size: 0.35em;
    text-align: center;
  }

  #example_sheet li {
    border: 2px black solid;
    width: 50%;
    font-size: 0.25em;
    margin-left: -11%;
    box-shadow: 5px 5px 5px;
  }
  #downloadBtn {
    width: 50%;
    height: 35px;
    margin-left:22%;
    background-color: #72b944;
    border-radius: 999px;
    font-family: "Josefin Sans";
    font-size: 0.3em;
    border:2px #72b944 solid;
  }
}
