<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title>Apartment-List</title>
       <link rel="stylesheet" type="text/css" href="index.css"/>
   </head>
           
   <body>
        <nav>
            <ul id="logo">
                <li><img src="apartment-excel-removebg-preview.png" alt="logo"/><h1>Apartment-Excel</h1></li>
            </ul>
        
            <ul id="tags">
                <li id="ah"><a  target="_blank" href="">Why?</a></li>
                <li id="gh"><a target="_blank" href="">Github</a></li>
            </ul>
        </nav>

        <main class="demo-wrap">
            <img class="demo-bg" src="DSCF1982_3_4_5_6-copy-2-14f37521d6b90eddfb8a6d576de4c3c6 - Copy.jpg" alt="">
            <h1 class="content">Simplify Your Apartment Hunt: Convert Listings from Apartments.com to Excel Fast.</h1>
            <form method="post" action="/link"class="content">
                <input type="text" id="link" name="link" placeholder="Link">
                <input type="text" id="ip" name="ip" placeholder="ip">
                <input type="submit" id="submit" value="Submit" >
            </form>


        </main>

   </body>

   <script src="static/file.js"></script>

   <script>
        function getRandomInt(max) {
            return Math.floor(Math.random() * max);
        }

        const user_id=getRandomInt(500000)



   </script>
   
           
</html>